# Pandas
## Sumary
This is a folder where I will work on the w3resource learning program for pandas for Python. 

## Original Resource

main link: https://www.w3resource.com/python-exercises/pandas/index.php \
data-series link: https://www.w3resource.com/python-exercises/pandas/index-data-series.php \

## Exercises

In [1]:
import pandas as pd

### Exercise 1

Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

Input Series: [1,3,5,8,10,11,15]

Output Series: [Nan,2,2,3,2,1,4] and [Nan,Nan,0,1,-1,3]

In [25]:
s1 = pd.Series(data=[1,3,5,8,10,11,15]) 
print("Original Series:")
print(s1.tolist())
print("\nOutput Series:")

# My approximation to the solution
s1_diff1 = pd.Series()
for myindex,element in enumerate(s1):
    s1_diff1[myindex] = element-s1.iloc[myindex-1]
print(s1_diff1.tolist())

s1_diff2 = pd.Series()
for myindex,element in enumerate(s1_diff1):
    s1_diff2[myindex] = element-s1_diff1.iloc[myindex-1]
print(s1_diff2.tolist())

# The w3resource answer
print("\n########################################")
print("Original Series:")
print(s1.tolist())
print("\nDifference of differences between consecutive numbers of the said series:")
print(s1.diff().tolist())
print(s1.diff().diff().tolist())

Original Series:
[1, 3, 5, 8, 10, 11, 15]

Output Series:
[-14, 2, 2, 3, 2, 1, 4]
[-18, 16, 0, 1, -1, -1, 3]

########################################
Original Series:
[1, 3, 5, 8, 10, 11, 15]

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

### Exercise 2

Write a Pandas program to convert a series of date strings to a timeseries.

Original Series:

0       01 Jan 2015

1       10-02-2016

2       20180307

3       2014/05/06

4       2016-04-12

5       2019-04-06T11:20

Desired Output:
Series of date strings to a timeseries:

0   2015-01-01 00:00:00

1   2016-10-02 00:00:00

2   2018-03-07 00:00:00

3   2014-05-06 00:00:00

4   2016-04-12 00:00:00

5   2019-04-06 11:20:00

In [33]:
s2 = pd.Series(data=["01 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"])
print("Original Series:\n")
print(s2)
print("\n###############################")

s2_datetime=pd.to_datetime(s2, format="mixed")
print("Output:\n")
print(s2_datetime)

Original Series:

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

###############################
Output:

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

### Exercise 3

Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

Sample Output: 

Original Series:

0         01 Jan 2015\
1          10-02-2016\
2            20180307\
3          2014/05/06\
4          2016-04-12\
5    2019-04-06T11:20\
dtype: object\

Expected Output Data:\
Day of month:[1, 2, 7, 6, 12, 6]\
Day of year:[1, 276, 66, 126, 103, 96]\
Number of week: [1, 39, 10, 19, 15, 14]\
Day of week:['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']\

In [59]:
# We start from the s2_datetime series from exercise 2.
s3 = pd.Series(data=["01 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"])
s3_datetime = pd.to_datetime(s3, format="mixed")

print("Day of month:", s3_datetime.map(lambda x: int(str(x)[8:10])).tolist())
print("Day of year:",s3_datetime.dt.day_of_year.tolist())
print("Number of week:",s3_datetime.dt.isocalendar()["week"].tolist())
print("Day's name of week:",s3_datetime.dt.day_name().tolist())

Day of month: [1, 2, 7, 6, 12, 6]
Day of year: [1, 276, 66, 126, 103, 96]
Number of week: [1, 39, 10, 19, 15, 14]
Day's name of week: ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

### Exercise 4

Write a Pandas program to convert year-month string to dates adding a specified day of the month.

Sample Output:

Original Series:\
0    Jan 2015\
1    Feb 2016\
2    Mar 2017\
3    Apr 2018\
4    May 2019\
dtype: object\


New dates:\
0   2015-01-11\
1   2016-02-11\
2   2017-03-11\
3   2018-04-11\
4   2019-05-11\
dtype: datetime64[ns]

In [92]:
# My propposed Solution
s4 = pd.Series(data=["Jan 2015","Feb 2016","Mar 2017","Apr 2018","May 2019"])
inputted_day_of_month:int = 11

s4_datetime = pd.to_datetime(s4, format="mixed")
s4_result:pd.Series = s4_datetime.map(lambda x: str(x)[0:8]+str(inputted_day_of_month))

print("Output Result")
print(s4_result)

# w3resource proposed solution
print("\n############################")
print("Original Series:")
print(s4)
print("\nNew dates:")
s4_result_w3resource = s4.map(lambda d: ("11 "+ str(d)))
print(s4_result_w3resource)

Output Result
0    2015-01-11
1    2016-02-11
2    2017-03-11
3    2018-04-11
4    2019-05-11
dtype: object

############################
Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0    11 Jan 2015
1    11 Feb 2016
2    11 Mar 2017
3    11 Apr 2018
4    11 May 2019
dtype: object

### Exercise 5
Write a Pandas program to filter words from a given series that contain atleast two vowels.

Sample Output: 
Original Series: \
0       Red \
1     Green \
2    Orange \
3      Pink \
4    Yellow \
5     White \
dtype: object

Filtered words: \
1     Green\
2    Orange\
4    Yellow\
5     White\
dtype: object

In [ ]:
s5 = pd.Series(data=["Red","Green","Orange","Pink","Yellow","White"])
contains_at_leas_this_many_letters = 2
letters:list[str] = ["a","e","i","o","u"]

# Import the Counter from the Python Buuiltin Libraries. This is the class that will help us count how many of each letter is there in the word
from collections import Counter

# For each color, Count how many of each letters are in each word. Then compare to see if it is greater than contains_at_leas_this_many_letters
s5_result_mask = s5.map(lambda color : sum(Counter(color.lower()).get(letter,0) for letter in letters)>=contains_at_leas_this_many_letters)
s5[s5_result_mask]

1     Green
2    Orange
4    Yellow
5     White
dtype: object

### Exercise 6 \
Write a Pandas program to compute the Euclidean distance between two given series. 

Euclidean distance \
From Wikipedia, \
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space (in a n-dimensional space). With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm. \

Sample INPUT: \
Original series: \
0       1 \
1       2 \
2       3 \
3       4 \
4       5 \
5       6 \
6       7 \
7       8 \
8       9 \
9       0 \
dtype: int64 \

0       11 \
1        8 \
2        7 \
3        5 \
4        6 \
5        5 \
6        3 \
7        4 \
8        7 \
9        1 \
dtype: int64 \


Euclidean distance between two said series: \
16.492422502470642

In [ ]:
s6_Point1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s6_Point2 = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

# My propposition
import math 
s6_euclidean_diff:pd.Series = s6_Point2-s6_Point1
s6_result = math.sqrt((s6_euclidean_diff**2).sum())
s6_result

# w3resource's propposition
import numpy as np
print("\nEuclidean distance between two said series:")
s6_result = np.linalg.norm(s6_Point2-s6_Point1)
print(s6_result)

0    10
1     6
2     4
3     1
4     1
5    -1
6    -4
7    -4
8    -2
9    -9
dtype: int64

16.492422502470642

### Exercise 7 
Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series. \

Sample Input: \
Original series: \
0    1 \
1    8 \
2    7 \
3    5 \
4    6 \
5    5 \
6    3 \
7    4 \
8    7 \
9    1 \
dtype: int64 

Positions of the values surrounded by smaller values on both sides: 
[1 4 8]

In [ ]:
s7 = pd.Series(data=[1,8,7,5,6,5,3,4,7,1])

# My propposition
len_s7,  = s7.shape
s7_result_mask:list[bool] = [False]*len_s7
print(s7_result_mask)

for idx, s in enumerate(s7, start=0):
    if s7.iloc[idx-1]<s and s7.iloc[idx+1]<s:
        s7_result_mask[idx] = True

print(s7_result_mask)

s7_result = s7[s7_result_mask].index.tolist()
print(s7_result)

###################################3
# w3resource proppositoin
s7 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(s7)
print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(s7)))
s7_result = np.where(temp == -2)[0] + 1
print(s7_result)

[False, False, False, False, False, False, False, False, False, False]
0
1
2
3
4
5
6
7
8
9
[False, True, False, False, True, False, False, False, True, False]
[1, 4, 8]